header{
    background-image:url('/images/image5.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height:100vh;
}

body{
    font-family: 'Roboto', sans-serif;
}


span.slogan {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 2.5rem;
    top: 54%;
    background: #00000080;
    /*font-family: 'Dancing Script', cursive !important;*/
}


span.smaller-text {
    font-size: 1.5rem;
    font-style: italic;
}

h1{
    font-size:2.5rem;
}

h2,h1,h3{
    color:#0d202c;
    font-weight:bold;
}

section.section-back {
    background: #0d202c;
    color:#fff;
    max-height:500px;
    height:100%;
    margin-top:50px;
}


.who-image {
    background-image:url('/images/image2.jpg');
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center center;
    height:500px;
}

.parax{
    background-image:url('/images/image1.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    height:400px;
    background-size:cover;
    margin-top:50px;
    margin-bottom:50px;
}

h2,h3{
    font-size:1.8rem;
}
.btn{
    background-color:#ff5951 !important;
}

span.parax-slogan {
    position: absolute;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    margin-top: 180px;
    font-size: 2rem;
    color: #0d202c;
    font-weight: bold;
    letter-spacing: 6px;
    text-shadow: 2px 2px 2px #fff;
}

.connect{
    color:#0d202c;
    font-weight:bold;
}

.fab {
    font-size: 50px;
    color: #ff5951;
    text-shadow: 2px 2px 2px #000;
}


@media only screen and (max-width : 1366px) {

    nav .brand-logo {
        font-size: 1.7rem;
     }

} 




@media only screen and (max-width : 640px) {

    span.slogan {
     font-size: 1.5rem;
        top: 20%;
       }

    header{
        background-size: 100%  50%;
        height:300px;
    }

    .who-image {
        height: 250px;
    }


}



@media only screen and ( max-width:414px){

    nav .brand-logo {
        font-size: 14px;
        font-weight: bold;
    }

    
}

@media only screen and ( max-width:375px){

    nav .brand-logo {
        font-size: 12px;
        font-weight: bold;
    }

    h1 {
        font-size: 1.5rem;
    }

  

}


@media only screen and ( max-width:320px){

    nav .brand-logo {
        font-size: 11px;
        font-weight: bold;
    }


}